/backend/.env
/EmbeddingGenerator/.env
openai.ini
venv/

/.idea
/backend/__pycache__
/Web scraper/__pycache__
Database Vectorizer\.env
/backend/embedding_generation.log
/EmbeddingGenerator/embeddings.json
